<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>스프링 부트 웹 서비스</title>
</head>
<body>
    {{>layout/header}}
            <!--    { {>}}는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴    -->
        <h1>스프링 부트 웹 서비스 Ver.2</h1>
        <div class="col-md-12">
    <!--        로그인 기능 영역        -->
            <div class="row">
                <div class="col-md-6">
                    <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                    {{#userName}}
                        Logged in as : <sapn id="user">{{userName}}</sapn> <!-- 1. userName -->
                        <a href="/logout" class="btn btn-info active" role="button">Logout</a> <!-- 2. href="/logout" -->
                    {{/userName}}
                    {{^userName}} <!-- 3. ^userName -->
                        <!-- 4. href="/oauth2/authorization/google" -->
                        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                        <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                    {{/userName}}
                </div>
            </div>
        </div>
    <br>
    <!--  목록 출력 영역  -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
            <tr>
                <th>게시글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종 수정일</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#posts}}  <!--   mustache문법 - posts라는 list를 순회한다(java의 for)     -->
                <tr>
                    <td>{{id}}</td>  <!-- { {변수명}} list에서 뽑아낸 객체의 필드를 사용한다 -->
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
        </tbody>

    </table>

<!--  1. userName : 머스테치는 다른 언어와 같은 if문(if userName != null)을 제공하지 않음. true/false 여부만 판단할 뿐.
                    그래서 머스테치에서는 항상 최종값을 넘겨줘야함. 여기서도 역시 userName이 있다면 userName을 노출.
      2. href="/logout" : 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 URL. 즉, 개발자가 별도로 저 URL에 해당하는
                          컨트롤러를 만들 필요가 없음. SecurityConfig클래스에서 URL을 변경할 순 있지만 기본 URL
                          을 사용해도 충분하니 여기서는 그대로 사용
      3. ^userName : 머스테치에서 해당 값이 존재하지 않는 경우에는 ^를 사용. 여기서는 userName이 없다면 로그인 버튼 노출
      4. href="/oauth2/authorization/google" : 스프링 시큐리티에서 기본적으로 제공하는 로그인 URL.
                                    로그아웃 URL과 마찬가지로 개발자가 별도의 컨트롤러를 생성할 필요가 없음.

-->

    {{>layout/footer}}
</body>
</html>