<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>스프링 부트 웹 서비스</title>
</head>
<body>
    {{>layout/header}}
            <!--    { {>}}는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴    -->
        <h1>스프링 부트 웹 서비스 Ver.2</h1>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                </div>
            </div>
        </div>
    <br>
    <!--  목록 출력 영역  -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
            <tr>
                <th>게시글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종 수정일</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#posts}}  <!--   mustache문법 - posts라는 list를 순회한다(java의 for)     -->
                <tr>
                    <td>{{id}}</td>  <!-- { {변수명}} list에서 뽑아낸 객체의 필드를 사용한다 -->
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{content}}</td>
                </tr>
            {{/posts}}
        </tbody>

    </table>



    {{>layout/footer}}
</body>
</html>